---
---

$page-theme: #c3d6bf;
$dark-gray: #4f514e;

body {
	background-color: $page-theme;
	height: 2000px;
}

nav {
	background-color: white;
	height: 90px;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2;
	opacity: .7;
}

h1 {
	margin-top: 190px;
	text-align: center;
	font-family: 'Questrial', sans-serif;
	color: $dark-gray;
}
